.login_main{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}


.googleimg{
    width: 220px;
    height: 62.52px;
    cursor: pointer;
}

.loginimg{

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
    text-decoration: underline;
    margin: -50px 0 30px 0;
}

.fromikerror{

    color: red;
}

/* register section */

.registarimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.register_main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
}

.registerin{
    width: 218px;
    margin: 0 auto;
    font-size: 13.34px;
    font-weight: 400;
    line-height: 18.16px;
}

.registersignin{

    font-size: 13.34px;
    font-weight: 700;
    line-height: 18.16px;
    text-align: center;
    color: red;
}

.close{

    font-size: 30px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 4px;
}

.signuperror{
    color: red;
}