.userlist_main{
    width: 400px;
    height: 320px;
    border-radius: 8px;
    padding: 20px;
    margin-top: 30px;
    -webkit-box-shadow: -1px 2px 5px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px 2px 5px 3px rgba(0,0,0,0.5);
    box-shadow: -1px 2px 5px 3px rgba(0,0,0,0.5);
    overflow-y: scroll;
}

.item_main{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.useritem{

    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.useritem .userimg{
    width: 60px;
    height: 60px;
    background-color: aqua;
    overflow: hidden;
    border-radius: 50%;
}

.useritem .userimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userinfo{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.addbtn{
    background: blue;
    padding: 8px 14px;
    color: #fff;
    border-radius: 8px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}


